.intro-container {
    padding: 50px 20px 0px 20px;
  }
  
  .intro-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    color: #E98074;
  }

  .intro-content.dark {
    color: #EAE7DC;
  }

  .intro-content h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-weight: bold;
  }

  
  .intro-content p {
    font-size: 1.1rem;
    margin-bottom: 10px;
  }
  
  .buttons-container {
    margin-top: 20px;
    display: flex; 
    justify-content: center; 
  }
  
  .btn {
    background-color: #E85A4F;
    color: #EAE7DC;
    font-weight: 600;
  }

  .btn.dark {
    color: #EAE7DC;
  }
  
  .btn:hover {
    background-color: #e94135;
    color: #EAE7DC;
  }

  .btn.dark:hover{
    color: #EAE7DC;
  }
