.intro-container {
  background-color: #f8f9fa;
  padding: 50px 20px;
}

.intro-content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  color: #003566;
}

.intro-content h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-weight: bold;
}

.intro-content p {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.buttons-container {
  margin-top: 20px;
  display: flex; 
  justify-content: center; 
}

.btn {
  background-color: #FFD60A;
}

.btn:hover {
  background-color: #FFD60A;
}

span {
  font-weight: bold;
}

.dropdown {
  margin-left: 10px;
}
