.location-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
  }

  .location-list.dark {
    background-color: #021124;
    color: #D8C3A5;
  }
  
  .location-item {
    background-color: none; 
    padding: 20px; 
    border-radius: 8px; 
    border: 2px solid #D8C3A5; 
    box-shadow: 7px 7px 7px #d8c3a5b6;
    color: #333; 
    overflow: hidden; 
  }

  .location-item.dark {
    background-color: #021124; 
    border: 2px solid #EAE7DC; 
    box-shadow: 7px 7px 7px #d8c3a52d;
    color: #EAE7DC; 
  }

  h6{
    font-weight: 600;
  }
  
  .description {
    font-weight: 600;
  }
